<template>
    <div class="background">
        <transition name="component-fade" mode="out-in">
            <component :is="component" />
        </transition>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "app",
        components: {
            'MainPage': () => import('./mainPage.vue'),
            'UserMenu': () => import('./userMenu.vue'),
            'Info': () => import('./info.vue'),
            'Statistic': () => import('./statistic.vue'),
        },
        computed: mapState(['component']),
        created() {
            let element = document.getElementById('vueApp');
            let component = element.dataset.name ? 'UserMenu' : 'MainPage' ;
            if(component !== 'MainPage'){
                let params = {
                    'name' : element.dataset.name,
                    'email' :  element.dataset.email,
                };
                this.$store.commit('setUser', params);
            }
            if(this.$store.getters.getUser !== null){
                this.changeComponent('userMenu', 'UserMenu');
            }
        },
    }
</script>

<style scoped>

    .background{
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: #cbe2f7;
        left: 0;
        right: 0;
        top: 0;
    }

    .component-fade-enter-active, .component-fade-leave-active {
        transition: opacity .3s ease;
    }
    .component-fade-enter, .component-fade-leave-to
        /* .component-fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
</style>