<template>
    <div>
        <div><a href="#login" @click="showForm = !showForm">Войти</a></div>
        <div>
            <div class="dm-overlay" id="login">
                <div class="dm-table">
                    <div class="dm-cell">
                        <div class="dm-modal">
                            <a href="#close" class="close">Закрыть</a>
                            <h3></h3>
                            <div class="register_form">
                                <div>
                                    <label>
                                        Почта
                                        <input class="form_input" type="email" required v-model="email" name="email">
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        Пароль
                                        <input class="form_input" type="password" required v-model="password"
                                               name="password">
                                    </label>
                                </div>

                                <div class="register_button_wrapper">
                                    <button @click="login"> Войти</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "authorization",
        data: function () {
            return {
                showForm: false,
                email: '',
                password: '',
            };
        },
        methods: {
            login() {
                if (this.email === '' || this.password === '') {
                    console.log('error');
                    return false;
                }
                let userInfo = {
                    'email': this.email,
                    'password': this.password,
                    'action': this.authorizationAction
                };

                axios.post('/ajax.php', userInfo)
                    .then((response) => {
                        if(response.data.status){
                            this.changeComponent('userMenu', 'UserMenu');
                            this.$store.commit('setUser', response.data.userInfo);
                        }
                    });

            },
        },
    }
</script>

<style scoped>
    @import "../../css/login.css";
</style>