<template>
    <div class="info_wrapper">
        <div class="info_main_wrapper">
            <div class="info_text">
                <h2>Какой твой вес сегодня?</h2>
            </div>
            <div>
                <div class="del">
                    <div>
                        {{currentDate}}
                    </div>
                    <div class="del">
                        <label>
                            <input type="number" min="20" max="400" placeholder="Вес, кг" required v-model="mainWeight">
                        </label>
                    </div>
                </div>
                <div class="del">
                    <button @click="showAdditionalDates = !showAdditionalDates">Заполнить вес за прошлые даты</button>
                </div>
                <div v-show="showAdditionalDates" class="del">
                    <div>
                        <div v-for="(date, key) in additionalDates" :key="key">
                            <div>
                                <input type="date" class="additional" :data-key="key" :name="'date-' + key"
                                       placeholder="Дата">
                                <input type="number" class="additional" :data-key="key" min="20" max="400"
                                       :name="'weight-' + key" placeholder="Вес">
                                <span class="cl-btn-7" @click="deleteDate(key)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="del">
                        <button @click="addDate">Добавить еще дату</button>
                    </div>
                </div>
            </div>

            <div class="del">
                <span class="menu_pointer" @click="saveResults"> Сохранить </span>
            </div>
            <div class="del">
                <span class="menu_pointer" @click="changeComponent('userMenu', 'UserMenu')"> Назад </span>
            </div>
            <div class="del">
                <span v-show="errorMessage !== ''" class="error"> {{errorMessage}} </span>
            </div>
            <div class="del">
                <span v-show="successMessage !== ''" class="success"> {{successMessage}} </span>
            </div>
        </div>
    </div>
</template>

<script>

    import axios from "axios";

    export default {
        name: "info",
        data: function () {
            return {
                showAdditionalDates: false,
                additionalDates: [],
                mainWeight: 0,
                errorMessage: '',
                successMessage: '',
                currentDate: false,
            }
        },
        created() {
            this.setMaxDate();
            axios.post('/ajax.php', {
                'action': 'getInfo',
            }).then((response) => {
                if (response.data.status) {
                    this.currentDate = response.data.date;
                    if(response.data.weight > 0) this.mainWeight = response.data.weight;
                } else {
                    this.currentDate = '';
                }
            });

        },
        methods: {
            setMaxDate: function () {
                let date = new Date();
                date.setDate(date.getDate() - 1);
                setTimeout(function () {
                    let nodes = document.querySelectorAll('input[type=date]');
                    nodes.forEach(
                        function (el) {
                            el.setAttribute('max', date.toISOString().split("T")[0]);
                        }
                    );
                }, 100);
            },
            addDate: function () {
                this.additionalDates.push(1);
                this.setMaxDate();
            },
            deleteDate: function (key) {
                this.additionalDates.splice(key, 1);
            },
            clearInputs: function () {
              this.additionalDates = [];
              this.showAdditionalDates = false;
            },
            getUnique: function (array, propertyName) {
                return array.filter((e, i) => array.findIndex(a => a[propertyName] === e[propertyName]) === i);
            },

            saveResults: function () {
                this.errorMessage = '';
                this.successMessage = '';
                if ((this.mainWeight < 20 || this.mainWeight > 400) && this.showAdditionalDates === false) {
                    this.errorMessage = 'Неверное значение веса';
                    return false;
                }

                let data = {
                    'mainData': {
                        'weight': this.mainWeight,
                        'date': new Date().toISOString().split("T")[0]
                    },
                };


                let additionalData = [];
                let weights = [];
                let dates = [];
                if (this.showAdditionalDates) {
                    let els = document.getElementsByClassName('additional');
                    Array.from(els).forEach((el) => {
                        let data = el.getAttribute('name').split(/[-]/);
                        let inputType = data[0].indexOf('date') !== -1 ? 'date' : 'weight';
                        if (el.value) {
                            if (inputType === 'weight') weights.push({[inputType]: el.value});
                            else dates.push({[inputType]: el.value});
                        }
                    });

                    if (dates.length === 0 && weights.length === 0) {
                        this.errorMessage = 'Проставлены пустые даты или вес';
                        return false
                    }
                    let uniqueDates = this.getUnique(dates, 'date');
                    if (uniqueDates.length !== dates.length) {
                        this.errorMessage = 'Проставлены одинаковые даты';
                        return false;
                    }

                    dates.forEach(function (el, index) {
                        additionalData.push({
                            'date': el.date,
                            'weight': weights[index].weight
                        });
                    })

                }
                axios.post('/ajax.php', {
                    'action': 'saveInfo',
                    'data': {
                        'main': data,
                        'additional': additionalData
                    }
                }).then((response) => {
                    if (response.data.status) {
                        this.clearInputs();
                        this.successMessage = response.data.message;

                    } else {
                        this.errorMessage = response.data.message;
                    }
                });
            }
        },
    }
</script>

<style scoped>
    .success{
        color: green;
    }

    .error {
        color: red;
    }

    .info_wrapper {
        overflow: scroll;
        height: 100%;
    }

    .info_main_wrapper {
        width: 90%;
        margin: 5% auto;
        text-align: center;
    }

    .cl-btn-7 {
        position: relative;
        z-index: 1;
        margin: 20px auto;
        cursor: pointer;
    }

    .cl-btn-7:before {
        content: '+';
        color: #337AB7;
        position: absolute;
        z-index: 2;
        transform: rotate(45deg);
        font-size: 30px;
        line-height: 1;
        top: -5px;
        left: 6px;
        transition: all 0.1s cubic-bezier(0.77, 0, 0.2, 0.85);
    }

    .cl-btn-7:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: #337AB7;
        z-index: 1;
        transition: all 0.1s cubic-bezier(0.77, 0, 0.2, 0.85);
        transform: scale(0.01);
    }

    .cl-btn-7:hover:after {
        transform: scale(1);
    }

    .cl-btn-7:hover:before {
        transform: scale(0.8) rotate(45deg);
        color: #fff;
    }

</style>