<template>
    <div class="main main_page">
        <h2>Контроль веса</h2>
        <div class="wrapper">
            <authorization></authorization>
            <registration></registration>
        </div>
        <div class="info">
            ITjuniors{{year}}
        </div>
    </div>
</template>

<script>

    import Registration from './registration.vue';
    import Authorization from './authorization.vue';

    export default {
        name: "mainPage",
        data: function(){
            return {
                year: new Date().getFullYear()
            }
        },
        components: {
            Registration,
            Authorization,
        },
    }
</script>

<style scoped>

    .main_page{
        min-height: 80vh;
    }

    .info{
        position: absolute;
        bottom: 5%;
    }
</style>