<template>
    <div>
        <div class="small">
            <div class="selector">
                <div class="need_padding">
                    <div>
                        <h3>Выберите период</h3>
                    </div>
                    <select v-model="selectedOption" @change="changeChartConfig" name="selectPeriod">
                        <option v-for="option in selectOptions" :key="option.id" :selected="option.id === selectedOption" :value="option.id">{{option.value}}</option>
                    </select>
                </div>
                <div>
                   <h3> Или установите желаемый</h3>
                </div>
                <div class="need_padding">
                    <div class="inpt">
                        <label>Дата от</label>
                        <input v-model="dateRangeFrom" type="date" min="1990-01-01">
                    </div>
                    <div class="inpt">
                        <label>Дата до</label>
                        <input v-model="dateRangeTo" type="date" max="2025-01-01">
                    </div>
                    <div style="padding-top: 14px;">
                        <button @click="customRange" >Показать</button>
                    </div>
                </div>
            </div>
            <div class="my-app">
                <chart :options="options"></chart>
            </div>
            <div class="del">
                <span class="menu_pointer" @click="changeComponent('userMenu', 'UserMenu')"> Назад </span>
            </div>
        </div>
    </div>
</template>

<script>

    import {Chart} from 'highcharts-vue';
    import axios from "axios";

    export default {
        name: "statistic",
        data: function () {
            return {
                options: {
                    title: {
                        text: 'Вес за определенный период',
                        x: -20
                    },
                    xAxis: {
                        categories: [],
                        labels: {
                            enabled: true
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Вес, кг',
                            enabled: true,
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }],
                    },
                    legend: {
                        enabled: false
                    },
                    series: []
                },
                selectedOption: 'week',
                selectOptions: [
                    {
                        id : 'week',
                        order: 0,
                        value : 'Неделя'
                    },
                    {
                        id : 'twoWeek',
                        order: 1,
                        value : 'Две Недели'
                    },
                    {
                        id : 'month',
                        order: 2,
                        value : 'Месяц'
                    },
                    {
                        id : 'half',
                        order: 3,
                        value : 'Полгода'
                    },
                    {
                        id : 'year',
                        order: 4,
                        value : 'Год'
                    }
                ],
                userStatics: {},
                dateRangeFrom : null,
                dateRangeTo : null,
            }
        },
        components: {
            Chart
        },
        methods: {
            customRange(){
                let dateFrom = new Date(this.dateRangeFrom);
                let dateTo = new Date(this.dateRangeTo);

                let series = {
                    'name' : 'Вес, кг',
                    'data' : []
                };
                let dates = [];
                this.userStatics.forEach(function (data, index) {
                    let userDate = new Date(data.dateToCompare);
                    if(userDate >= dateFrom && userDate <= dateTo){
                        dates.push(data.date);
                        series.data.push(parseInt(data.weight));
                    }
                });
                this.options.series = series;
                this.options.xAxis.categories = dates;
            },
            changeChartConfig(){
                let selectedOption = this.selectedOption;
                let currentOptionInfo = '';
                this.selectOptions.forEach(function (el, index) {
                    if(el.id === selectedOption){
                        currentOptionInfo = el;
                    }
                });

                let series = {
                    'name' : 'Вес, кг',
                    'data' : []
                };
                let dates = [];
                this.userStatics.forEach(function (data, index) {
                    if(data.order <= currentOptionInfo.order){
                        series.data.push(parseInt(data.weight));
                        dates.push(data.date);
                    }
                });

                this.options.series = series;
                this.options.xAxis.categories = dates;
            },
            fillData(array, period){
                let series = {
                    'name' : 'Вес, кг',
                    'data' : []
                };
                let dates = [];
                array.forEach(function (el, index) {
                    if(period === el.period){
                        series.data.push(parseInt(el.weight));
                        dates.push(el.date);
                    }
                });
                this.options.series = series;
                this.options.xAxis.categories = dates;
            }
        },
        created() {
            if(this.isMobile()){
                this.options.xAxis.labels.enabled = false;
                this.options.yAxis.title.enabled = false;
            }
            axios.post('/ajax.php', {
                'action': 'statistic',
            }).then((response) => {
                if (response.data.status) {
                    this.userStatics = response.data.data;
                    this.$store.commit('setUserStatistics', response.data.data);
                    this.fillData(response.data.data, this.selectedOption);
                }
            });
        }
    }
</script>

<style scoped>

    .need_padding{
        padding-bottom: 2%;
    }

    .inpt{
        display: inline-grid;
    }

    .selector{
        padding-bottom: 2%;
    }
    .small{
        text-align: center;
        padding-top: 10%;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 5%;
    }
</style>