<template>
    <div class="main user_menu">
        <div class="hello">
            <h2>Привет, <span>{{user.name}}</span>!</h2>
        </div>
        <div class="menu_list"><span class="menu_pointer" @click="changeComponent('info', 'Info')"> Записать вес </span></div>
        <div v-if="userStatistics.length > 0" class="menu_list"><span class="menu_pointer" @click="changeComponent('statistic', 'Statistic')"> Посмотреть статистику </span></div>
        <div class="menu_list"><span class="menu_pointer" @click="exitProfile"> Выход </span></div>
    </div>
</template>

<script>

    import axios from "axios";
    import {mapState} from 'vuex';

    export default {
        name: "userMenu",
        computed: mapState(['user', "userStatistics"]),
        data: function () {
            return {
                hasInfo : false
            }
        },
        created() {
            if(this.$store.getters.getUserStatistics.length === 0){
                axios.post('/ajax.php', {
                    'action': 'statistic',
                }).then((response) => {
                    if (response.data.status) {
                        if(response.data.data.length > 0){
                            this.$store.commit('setUserStatistics', response.data.data);
                        }
                    }
                });
            }
        },
        methods: {
            exitProfile: function () {
                axios.post('/ajax.php', {
                    'action': this.exitAction
                }).then((response) => {
                    if (response.data.status) {
                        this.changeComponent('main', 'MainPage');
                        this.$store.commit('setUser', null);
                        this.$store.commit('setUserStatistics', []);
                    }
                })
            },
        },
    }
</script>

<style scoped>

    .user_menu {
        min-height: 84vh;
    }

    .hello {
        padding-bottom: 5%;
    }

    .menu_list {
        padding-bottom: 3%;
    }

</style>