
.close {
    float: right;
}

.register_button_wrapper {
    padding-top: 10%;
    padding-bottom: 5%;
}

.form_input {
    width: 70%;
    margin: 0 auto;
}

.register_form {
    display: block;
    text-align: center;
}

.register_form label {
    display: grid;
}

/* слой затемнения */
.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* активируем слой затемнения и модальное окно */
.dm-overlay:target {
    display: block;
    /* анимация и время задержки */
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}

/* блочная таблица */
.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}

/* ячейка блочной таблицы */
.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}

/* модальный блок */
.dm-modal {
    display: inline-block;
    padding: 20px;
    /* максимально возможная ширина */
    max-width: 50em;
    background: #5b8498;
    /* внешняя тень блока */
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: #cfd8dc;
    text-align: left;
    /* анимация и время задержки */
    -webkit-animation: fade .8s;
    -moz-animation: fade .8s;
    animation: fade .8s;
}


/* анимация при появлении затемнения и блоков с содержанием */
@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}