.main{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background{
    overflow: auto;
}

.menu_pointer{
    cursor: pointer;
}

.menu_pointer:hover{
    color: red;
}

.del {
    padding-top: 2%;
}